
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

body{
  background-color: #000;
}
form {
    width: 50%;
    margin: 0 auto;
    color: #fff;
    bottom: 80PX;
  }
  
  label {
    font-weight: bold;
    display: block;
    margin-bottom: 0.5em;
  }
  
  input[type="text"], textarea {
    width: 100%;
    padding: 0.5em;
    margin-bottom: 1em;
    box-sizing: border-box;
  }